/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

table {
  width: 100%;
}

html, body {
  height: 100%;
}

.bookingsSearch{

}

.example-container {
  display: flex;
  flex-direction: row;
}

.example-container > * {
  width: 100%;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

#panelContainer {
  position: relative;
  /*margin-top: -9em; /*set to a negative number 1/2 of your height
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  margin-top: 5%;
  width: 60%;
  margin-bottom: 1%;
  height: 80%;
}

#filterBookingsRow {
  height: 25%;
}

#filterBookingsResultsRow {
  height: 75%
}

#filterBookingsResultContainer {
  height: 100%;
  background-color : burlywood
  
}

#filterBookingsContainer{
  height : 100%;
  background-color  : cadetblue

}

#typeAheadSearch {
  width: 100%
}

.mat-form-field--inline {
  display: contents;
  flex-direction: row;
  align-items: center;
}

.justifyMatContent{
  margin-top : 50px
}

.justifyInnerMatContent{

  margin-top : 20px;
  height: 30%;
}

.example-full-width
{
  display: inline !important;
  margin-bottom: 20px !important;
}

.mat-form-field--inline .mat-form-field {
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

#bookingSearchFields {
  position: relative;
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 1%;
}

#bothContainers {

  margin-left: -14px;
  margin-right: -14px;
}

#bookingsContainer {
  position: relative;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: inherit;
}

.mat-row.hovered {
  background: #eee;
  cursor : pointer
}

.mat-row.highlighted {
  background: #999;
  cursor: pointer
}

mat-cell.mat-cell, mat-header-cell.mat-header-cell {
  overflow: visible;
}

.example-card {
  max-width: 800px;
  background-color: aqua;
  margin: 200px;

}

.example-header-image {
  background-image: url('assets/images/qoniac_gmbh_logo.jpg');  
  background-size: cover;
}