/* src/app/components/add-task-dialog/add-task-dialog.component.css */

.task-form {
  display: flex;
  flex-direction: column;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
}
